.reviews {
  padding: 0 0 123px 0;
  background: url("../img/reviews-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.reviews-ellipse {
  position: absolute;
  top: -300px;
  left: -1200px;
  width: 1980px;
  height: 1900px;
  background: url("../img/reviews-ellipse.svg");
  z-index: -99;
}

.reviews__wrapper {
  position: relative;
  z-index: 9999;
}

.reviews__text-intro {
  width: 472px;
  margin: 12px auto 36px auto;
}

.reviews__slider-item {
  padding: 31px 14px;
  display: flex !important;
  width: 502px !important;
  height: 221px;
  box-sizing: border-box;
  background: #040212;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0 0 3px 0 rgba(157, 96, 212, 0.5);
  border: solid 2px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(51deg, #9973FE, #51B0FF);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 1px 1000px 1px #040212 inset;
}
.reviews__slider-item img {
  margin-right: 12px;
  height: auto !important;
}

.reviews__slider-name {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  position: relative;
  margin-bottom: 8px;
}
.reviews__slider-name::before {
  content: "";
  width: 95px;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  background: linear-gradient(339.81deg, #9973FE -1.55%, #51B0FF 100.85%);
  border-radius: 1.5px;
}

.reviews__slider-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  opacity: 0.4;
}

.reviews__slider {
  margin-top: 67px;
}

.slick-dots {
  bottom: -46px !important;
}

.slick-dots li.slick-active button:before {
  background: linear-gradient(90deg, #0088FF 0%, #01E0FF 100%);
}

.slick-dots li button:before {
  background: #21242C;
  width: 16px !important;
  height: 16px !important;
  font-size: 0 !important;
  border-radius: 50px;
}

.slick-prev:before {
  font-size: 0 !important;
  width: 40px;
  height: 40px;
  left: -10px;
  top: -20px;
  background: url("https://i.imgur.com/hRh89qg.png") 0 0 no-repeat;
  position: absolute;
}

.slick-next:before {
  font-size: 0 !important;
  width: 40px;
  height: 40px;
  left: -10px;
  top: -20px;
  background: url("https://i.imgur.com/hRh89qg.png") 0 0 no-repeat;
  transform: rotate(-180deg);
  position: absolute;
}

@media (max-width: 1440px) {
  .reviews__slider-item {
    width: 452px !important;
    height: 182px;
  }
  .reviews__slider-item img {
    width: 103px;
  }
  .reviews__slider-name {
    font-size: 28px;
    line-height: 28px;
  }
  .reviews__slider-text {
    font-size: 17px;
    line-height: 18px;
  }
}
@media (max-width: 1100px) {
  .reviews__slider-item {
    width: 388px !important;
  }
  .reviews__slider-text {
    font-size: 16px;
    line-height: 16px;
  }
  .reviews-ellipse {
    display: none;
  }
}
@media (max-width: 846px) {
  .reviews__text-intro {
    width: auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .reviews {
    padding: 122px 0 73px 0;
  }
  .reviews__slider-item {
    width: 98% !important;
    height: 172px;
  }
  .reviews__slider-item img {
    width: 73px;
  }
  .reviews__slider-name {
    font-size: 24px;
    line-height: 24px;
  }
  .reviews__slider-text {
    font-size: 14px;
    line-height: 14px;
  }
}/*# sourceMappingURL=reviews.css.map */